.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  width: 95%;
  margin: 0 auto;
}

.welcome-message {
  font-size: 16px;
  font-weight: 500;
  color: #1976d2;
  margin-right: auto;
  margin-left: 20px;
}
