<div class="header">
  <mat-icon routerLink="/" style="cursor: pointer">
    <img src="/double-check.svg" alt="logo"
  /></mat-icon>

  <div class="welcome-message" *ngIf="username">Bienvenue {{ username }}</div>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu xPosition="before" #menu="matMenu">
    <button mat-menu-item routerLink="/">
      Accueil <mat-icon>home</mat-icon>
    </button>
    <a
      mat-menu-item
      href="http://localhost:8080/swagger-ui/index.html"
      target="_blank"
    >
      Documentation API <mat-icon>description</mat-icon>
    </a>
    <button mat-menu-item (click)="logout()">
      Déconnexion <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-menu>
</div>
