$primary-color: #1976d2;

.task-form-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  gap: 10px;

  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: $primary-color;
  }
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

mat-checkbox {
  margin-left: 10px;
}
