/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f9f9f9;
}

.app-container {
  max-width: 100%;
  overflow-x: hidden;
}

/* Styles pour les scrollbars */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.05);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

/* Media query pour permettre le défilement sur mobile */
@media screen and (max-width: 600px) {
  html,
  body {
    height: 100%;
    overflow: auto !important;
  }

  body {
    overflow-x: hidden;
  }
}
